@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    color: white;
}
html{
    scroll-behavior: smooth;

}
section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dark-red{
    color: #773210;
}
.dark{
    color: #1E1E1E;
}
body{
    background-color: black;
    font-family: Poppins;
}
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 5;
}
.hero{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.hero-1{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.hero-1 h1{
    font-size: 80px;
}
.hero-1 p{
    font-size: 15px;
}
.nav-1 ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-left: 15px;
    margin-top: -20px;
    position: sticky;
    right: 44px;
    width: 60%;
    padding: 10px;
}
.nav-1 a{
    text-decoration: none;
    color: whitesmoke;
    list-style-type: none;
    margin: 10px;
}

.nav-1{
    color: red;
    position: sticky;
    position: -webkit-sticky;
    top: 10px;
}
.contactme-top{
    text-align: center;
    z-index: 5;
}
.conatiner{
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
}
input ,textarea{
    width: 404px;
    height: 49px;
    background-color: #1E1E1E;
}
textarea{
    resize: none;
}
.nameko{
    letter-spacing: 5px;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    animation: 
        typing 2s ,
        cursor .3s step-end infinite alternate;
}
.btn{
    padding: 10px;
    background-color: black;
}

@keyframes cursor {
    50% { border-color: transparent;}
}

@keyframes typing {
    from {width: 0}
}
@media screen and (max-width: 768px ) {
    section{
        height: 50vh;
    }
    .hero-1 h1 {
        font-size: 45px;
    }
    .hero-1 {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
    }
    .hero {
        height: 75vh;
        width: 135%;
        display: flex;
        justify-content: space-evenly;
    }
    .hero-1 p {
        font-size: 20px;
    }
    .nav-1 ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
        margin-left: 50px;
        margin-top: 0px;
        position: sticky;
        right: 40px;
        width: 100%;
        padding: 10px;
        flex-direction: row;
    }
}
@media screen and (max-width: 1280px ) {
    nav {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        position: sticky;
        top: 0;
        z-index: 5;
    }
    .hero-1 {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .hero-1 p {
        font-size: 15px;
    }
    .hero-1 h1 {
        font-size: 106.58px;
    }
    .nameko {
        letter-spacing: 0px;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
        animation: typing 2s, cursor .3s step-end infinite alternate;
    }
    .nav-1 ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
        margin-left: 60px;
        margin-top: 0px;
        position: sticky;
        right: 60px;
        width: 60%;
        padding: 10px;
    }
}
